.svn/
.DS_Store
.gradle
thumbs.db
.directory
~$*
.~*#
*~
*.swp
local.build.properties
/bin/
/.idea/**
!/.idea/runConfigurations/*
!/.idea/codeStyleSettings.xml
!/.idea/compiler.xml
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/projectCodeStyle.xml
!/.idea/vcs.xml
*.iml
**/build/
**/dist/
**/out/
**/logs/**
